@keyframes stargazing {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


@keyframes ricky {
  0% {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 20px));
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}


@keyframes sickomode {
  0% {
    right: -20px;
    bottom: -80px;
  }

  100% {
    right: 20px;
    bottom: -30px;
  }
}

@keyframes fallen {
  0% {
    right: -20px;
    top: -20px;
  }

  100% {
    right: 20px;
    top: 0;
  }
}

@keyframes boomtown {
  0% {
    left: -40;
    bottom: -80px;
  }

  100% {
    left: 0px;
    bottom: -50px;
  }
}

@keyframes nc17 {
  0% {
    background-position: 0 0%;
    background-size: 200% 5%;
  }

  100% {
    background-position: 0 55%;
    background-size: 400% 400%;
  }
}

@keyframes pickupthephonebaby {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes sweetsweet {
  0% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(130deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes chanel {
  0% {
    opacity: 0;
    margin-left: -300px;
  }

  50% {
    margin-left: 150px;
  }

  100% {
    opacity: 1;
    margin-left: 0px;
  }
}


@keyframes boasy {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
    box-shadow: 25px 21px 0px 0px;
  }
}


@keyframes wasted {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

@keyframes stronger {
  0% {
    opacity: 0;
    top: 45%;
  }
  
  100% {
    opacity: 1;
    top: 50%;
  }
}

@keyframes bounceback {
  0% {
    transform: translateY(calc(-50% + 20px));
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes hope {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    box-shadow: 25px 21px 0px 0px;
  }
}


@keyframes nightcrawler {
  0% {
    overflow: hidden;
  }

  100% {
    overflow: auto;
  }
}


@keyframes chevelle {
  0% {
    visibility: hidden;
    height: 0px;
    transform: translateY(40px);
  }

  100% {
    visibility: visible;
    height: auto;
    transform: translateY(0px);
  }
}


@keyframes applepie {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes nightslikethis {
  0% {
    opacity: 1;
  }

  100%{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: transparent;
  }
}

@keyframes iwishicould {
  0% {
    visibility: hidden;
  }

  100%{
    visibility: visible;
  }
}

@keyframes brackets {
  0% {
     opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes prettylittlefears {
  0% {
    transform: rotate(-10deg) translateY(60px);
    opacity: 0;
  }
  
  100% {
    
    opacity: 1;
    transform: rotate(5deg) translateY(0px);
  }
}

@keyframes perfecto {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 0.7;
    transform: translateY(0px);
  }
}