@media (max-width: 2125px){
    .main{
        grid-template-columns: 3fr 1.5fr 0.5fr !important;
        
        .hero{
            h1{
                font-size: 2.5em !important;
            }

            .hi{
                font-size: 2.2em !important;
            }

            .services{
                font-size: 25px !important;
            }
        }
    }
}

@media (max-width: 1840px){
    .main{
        .children{
            h2{
                font-size: 1.3em !important;
            }
        }
    }

    .projects {
        .project{
            .meta{
                h1{
                    font-size: 3em;
                }
            }

            img{
                margin-left: 100px;
                width: calc(100% - 120px);
            }

        }
        
        .links{
            a{
                padding: 15px 30px !important;
            }
        }
    }
}

@media (max-width: 1540px){
    .projects{
        article{
            grid-auto-flow: row;
            grid-template-columns: none !important;
            grid-template-rows: 3fr 1fr;

            .links{
                width: 50% !important;
                left: 50%;
                transform: translateX(-50%);

                .inner{
                    display: grid;
                    grid-auto-flow: column;
                    grid-gap: 100px
                }

                a{
                    margin-bottom: 0px !important;
                    padding: 15px 30px !important;

                    h2{
                        margin: 0px !important;
                        font-size: 20px;
                    }
                }

                
            }
        }
    }
}

@media (max-width: 1320px){
    .main{
        grid-template-columns: 3fr 1.5fr !important;
    }

    .projects{
        article{
            display: block !important;
            height: auto !important;
            margin-bottom: 40px !important;

            .meta{
                position: relative !important;
                margin-top: 40px !important;
                display: grid !important;
                transform: none !important;
                width: 100% !important;
                grid-auto-flow: column;
                grid-gap: 50px;
                grid-template-columns: min-content 2fr;
                
                h1{
                    font-size: 2.5em !important;
                    display: block !important;
                    color: #b5f9bb;
                    box-shadow: 25px 21px 0px 0px !important;
                }
            }

            img{
                width: 100% !important;
                margin-left: 0px !important;
                position: relative !important;
                transform: none !important;
                display: block !important;
                top: 0 !important;
                animation: hope 3s 1.9s forwards cubic-bezier(0.2, 0.8, 0.2, 1) !important;
            }
            
            .links{
               display: none !important;
            }

            .links-alt{
                display: block !important;

                .inner{
                    display: flex !important;
                    justify-content: flex-end;
                }

                a{
                    margin: 0px !important;
                    border: 0px !important;
                    padding: 5px 10px !important;
                    font-size: 12px !important;
                    display: inline-block !important;
                    margin-left: 40px !important;
                    box-shadow: none !important;
                    animation: stargazing 3s 1.9s forwards cubic-bezier(0.2, 0.8, 0.2, 1) !important;

                    h2{
                        margin: 0px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 1165px){
    .main{        
        .hero{
            padding: 30px !important;

            h1{
                font-size: 2em !important;
            }

            .hi{
                font-size: 1.7em !important;
            }

            .services{
                font-size: 20px !important;
            }
        }

        .children{
            div{
                padding: 30px !important;
            }

            h2{
                font-size: 1.2em !important;
            }
        }

        
    }
}

@media (max-width: 1156px){
    .main{
        display: block !important;

        .services{
            position: relative !important;
            bottom: initial !important;
            padding-top: 40px !important;
            display: block;
        }

        .children{
            margin-top: 0px;
        }
    }
} 

@media (max-width: 850px){
    .wrapper{
        padding: 50px 0 !important;

        header{
            padding-left: 50px !important;

            h1{
                font-size: 30px !important;
            }

            .alt{
                bottom: 20px !important;
            }
            
            span{
                bottom: 8px !important;
            }
        }

        .main{
            padding: 50px !important;
        }

        .children{
            margin-top: 50px !important;

            div{
                margin-bottom: 50px !important;
            }
        }
    }

    .main{        
        .hero{
            h1{
                font-size: 1.5em !important;
            }

            .hi{
                font-size: 1.3em !important;
                padding-bottom: 5px !important;
            }

            h2{
                font-size: 1.2em !important;
            }

            .services{
                font-size: 15px !important;
            }
        }

        .children{
            h2{
                font-size: 1em !important;
            }
        }
    }

    .projects{
        padding: 50px !important;

        article .meta{
            grid-auto-flow: row !important;
            grid-template-columns: none !important;

            h1{
                font-size: 1.8em !important;
            }
        }
    }

    .single-project{
        padding: 20px 50px !important;

        h1{
            font-size: 2em !important;
        }

        p{
            font-size: 1.5em !important;
        }

        .article-content{
            font-size: 22px !important;
            line-height: 30px !important;
        }
    }
}

@media (max-width: 540px){
    .projects{
        article{
            .links-alt{
                margin-top: 20px !important;
                
                .inner{
                    justify-content: space-around !important;
                }

                a{
                    margin: 0px !important;
                }
            }
        }
    }
}

@media (max-width: 430px){

    .main{
        .hero{
            padding: 15px !important;

            h1{
                font-size: 20px !important;
            }

            .hi{
                font-size: 17px !important;
            }
        }

        .children{
            div{
                padding: 15px !important;
            }
        }
    }

    .projects article .meta h1{
        font-size: 1.5em !important;
    }
}

@media (max-width: 370px){
    .main{
        padding: 20px !important;

        .hero, .children div{
            border: 0px !important;
        }
    }

    .projects article .meta h1{
        font-size: 1.2em !important;
    }
}