@media (max-width: 1156px){
    .ratchet{
        display: block !important;

        .services{
            position: relative !important;
            bottom: initial !important;
            padding-top: 30px !important;
            display: block;
        }

        .nice-smort{
            margin-top: 0px;
        }
    }
} 