@media (max-width: 2125px){
    .main{
        grid-template-columns: 3fr 1.5fr 0.5fr !important;
        
        .hero{
            h1{
                font-size: 2.5em !important;
            }

            .hi{
                font-size: 2.2em !important;
            }

            .services{
                font-size: 25px !important;
            }
        }
    }
}

@media (max-width: 1840px){
    .main{
        .children{
            h2{
                font-size: 1.5em !important;
            }
        }
    }

    .projects {
        .project{
            .meta{
                h1{
                    font-size: 3em;
                }
            }
        }
    }
}

@media (max-width: 1540px){
    .contact {
        .meta{
            max-width: 80vw !important;
        }
    }
}

@media(max-width: 1435px){
    .page-services{
        ul{
            grid-template-columns: 1fr 1fr !important;;
            grid-auto-flow: unset !important;
        }
    }
}

@media (max-width: 1320px){
    .main{
        grid-template-columns: 3fr 1.5fr !important;
    }

    .fof{
        .four{
            font-size: 3.5em;
            text-align: center;
        }

        a{
            font-size: 20px !important;
        }
    }

}

@media (max-width: 1165px){
    .main{        
        .hero{
            padding: 30px !important;

            h1{
                font-size: 2em !important;
            }

            .hi{
                font-size: 1.7em !important;
            }

            .services{
                font-size: 20px !important;
            }
        }

        .children{
            div{
                padding: 30px !important;
            }

            h2{
                font-size: 1.2em !important;
            }
        }

        
    }

    .fof{
        .four{
            font-size: 3em;
        }

        a{
            font-size: 17px !important;
        }
    }
}

@media (max-width: 1156px){
    .main{
        display: block !important;

        .services{
            position: relative !important;
            bottom: initial !important;
            padding-top: 40px !important;
            display: block;
        }

        .children{
            margin-top: 0px;
        }
    }

} 

@media (hover: none){
    .projects { 
        article{
            margin-bottom: 50px !important;
        }
    
        .project{
            .meta{
                opacity: 1 !important;
            }
    
            .overlay{
                opacity: 0.65 !important;
            }
        }
    }
}

@media (max-width: 850px){

    .site-cont{
        padding: 50px !important;
    }

    .page-services{
        ul{
            grid-template-columns: 1fr !important;;
            grid-auto-flow: unset !important;

            li{
                padding: 30px !important;
            }

            h2{
                font-size: 1.5em !important;
            }
        }
    }

    .wrapper{

        header{
            padding-left: 50px !important;

            h1{
                font-size: 30px !important;
            }

            .alt{
                bottom: 20px !important;
            }
            
            span{
                bottom: 8px !important;
            }
        }

        .main{
            padding: 50px !important;
        }

        .children{
            margin-top: 50px !important;

            div{
                margin-bottom: 50px !important;
            }
        }
    }

    .main{        
        .hero{
            h1{
                font-size: 1.5em !important;
            }

            .hi{
                font-size: 1.3em !important;
                padding-bottom: 5px !important;
            }

            h2{
                font-size: 1.2em !important;
            }

            .services{
                font-size: 15px !important;
            }
        }

        .children{
            h2{
                font-size: 1em !important;
            }
        }
    }

    .projects{
        article .meta{

            h1{
                font-size: 1.8em !important;
            }
        }
    }

    .single-project{
        h1{
            font-size: 2em !important;
        }

        p{
            font-size: 1.5em !important;
        }

        .article-content{
            font-size: 22px !important;
            line-height: 30px !important;
        }
    }

    .contact{
        .meta{
            p, a {
                font-size: 25px !important;
                line-height: 40px !important;
            }
            
        }
    }

    .fof{
        .four{
            width: 80%;
            font-size: 2em;
            padding: 40px 20px;
        }

        a{
            font-size: 16px !important;
        }
    }
}

@media (max-width: 540px){
    
    .contact{
        .meta{
            p, a {
                font-size: 20px !important;
                line-height: 35px !important;
            }

            p{
                margin-bottom: 20px !important;
            }

            a{
                margin-top: 5px !important;
            }
            
        }
    }
}

@media (max-width: 430px){
    .site-cont{
        padding: 30px 20px !important;    
    }

    .wrapper{
        header{
            padding-left: 20px !important;
        }

        .main{
            padding: 30px 20px !important;

            .hero, .card{
                border-width: 6px !important;
            }

            .card.services{
                border-width: 2px !important;
            }
        }
    }

    .main{
        
        .hero{
            padding: 15px !important;

            h1{
                font-size: 20px !important;
            }

            .hi{
                font-size: 17px !important;
            }
        }

        .children{
            div{
                padding: 15px !important;
            }
        }
    }

    .projects article .meta h1{
        font-size: 1.3em !important;
    }
}

@media (max-width: 370px){

    .main{
        .hero, .children div{
            border: 0px !important;
        }
    }

    .projects article .meta h1{
        font-size: 1.2em !important;
    }
}


@media (max-width: 1366px){
    .background-overlay span{
        width: 250px !important;
        height: 250px !important;
    }
}

@media (max-width: 1000px){
    .background-overlay span{
        width: 220px !important;
        height: 220px !important;
    }
}

@media (max-width: 800px){
    .background-overlay span{
        width: 200px !important;
        height: 200px !important;
    }
}

@media (max-width: 600px){
    .background-overlay span{
        width: 150px !important;
        height: 150px !important;
    }
}
