* {
  box-sizing: border-box;
}


html {
  font-family: 'Chivo', sans-serif;

  text-rendering: optimizeLegibility;
  padding: 0px;


  body{
    max-width: 2200px;
    margin: 0 auto;
    display: block;
    padding: 20px 200px;

    a{
      text-decoration: none;
    }

    img{
      max-width: 100%;
    }

    header{
      margin: 50px 0;
      width: 100%;
      display: block;
      overflow: hidden;
      
      h1{
        float: left;
      }

      h1 a{
        color: #a00404;
        font-size: 1em;
        text-transform: lowercase;
        font-weight: 700;
      }

      ul{
        list-style-type: none;
        float: right;
        display: flex;
        font-size: 1.2em;
        line-height: 50px;

        a{
          color: #333;
          text-transform: lowercase;
          border-bottom: 2px solid #333;
          transition: all 0.3s ease-in-out;

          &:hover{
            border-bottom: 2px solid #a00404;
          }
        }

        li:first-child{
          margin-right: 20px;
        }
      }
    }

    .projects{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;

      .container{
        min-height: 25vw;
        position: relative;


        img{
          object-fit: cover;
          max-width: 100%;
          position: absolute;
          height: 100%;
          width: 100%;
        }

        .overlay{
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: #fff;
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s, opacity 0.15s ease-out;
          border: 2px solid #333;
        }

        h1{
          display: block;
          width: 100%;
          text-align: center;
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          top: 50%;
          margin: 0px;
          color: #333;
          font-size: 2em;
        }

        &:hover{

          .overlay{
            visibility: visible;
            opacity: 1;
            
          }

       
        }
      }
    }
  }
}


@import "./_animations.scss";
@import "./_fluid.scss";


