* {
  box-sizing: border-box;
}

.no-bg{
  header h1{
    animation: stargazing 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  }

  header div span {
    animation: pickupthephonebaby 2s 0.4s forwards cubic-bezier(0.2, 0.8, 0.2, 1) ;
  }
}
html {
  font-family: 'Roboto Mono', monospace;
  text-rendering: optimizeLegibility;
  padding: 0px;
  color: #fff;
  margin: 5px;


  body {
    margin: 0px;
    background-color: #000;
    
    .content{
      position: relative;
    }

    .wrapper{
      z-index: 99999;
      display: block; 
      width: 100%;
      padding: 50px 0 0 0;
      height: 100%;
      animation: nightcrawler 7s 1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
    }

    header{
      display: grid;
      grid-template-columns: max-content 1fr;
      padding-left: 100px;

      h1 {
        font-size: 50px;
        margin: 0px;
        opacity: 0;
        animation: stargazing 3s 1.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
        
        a {
          transition: 0.1s all ease-in-out;
          text-decoration: none;
          animation: stargazing 3s 1.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
          background: linear-gradient(to right, #ffa290 77%, #ffffffbf 100%);
          -webkit-background-clip: text;
          color: transparent;
        }
      }

      
      div{
        position: relative;
        margin-left: 15px;
        
        
        span{
          opacity: 0;
          position: absolute;
          bottom: 15px;
          width: 0%;
          height: 5px;
          background-color: #4791ff;
          border-radius: 50px 0 0 0;
          right: 0;
          animation: pickupthephonebaby 2s 1.4s forwards cubic-bezier(0.2, 0.8, 0.2, 1) ;
        }
        
        .alt{
          bottom: 30px;
          background-color: #FFC107;
        }
      }
      
    }

    .site-cont{
      padding: 50px 100px;
    }
    
    .main{
      display: grid;
      overflow: hidden;
      grid-template-columns: 2fr 1fr 1fr;
      grid-gap: 80px;
      
      h1, h2{
        margin: 0px;
      }
      
      
      .hero{
        padding: 50px;
        background-color: #4791ff;
        border: 10px solid #def919;
        opacity: 0;
        color: #2cd08c;
        animation: boasy 3s 1.5s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
        
        h1{
          padding-bottom: 20px;
          font-size: 3em;
          color: #e7ff0e;
        }
        
        .hi{
          font-size: 2.7em;
          color: #b3ffb3;
        }

        h2{
          font-size: 2em;
          font-family: "Inconsolata", monospace;
          font-weight: 400;
          color: #fff;
        }

        .services{
          position: absolute;
          bottom: 45px;
          font-size: 30px;
          text-decoration: none;
          color: #def919;
          display: inline-block;
          
          border-bottom: 3px solid #def919;
        }

        
      }

      .children{
        margin-top: 100px;

        a{
          text-decoration: none;
          color: #fff;
        }
        
        .projects{
          padding: 50px;
          background-color: #a60295;
          border: 10px solid #ff856a;
          opacity: 0;
          margin-bottom: 100px;
          color: #ddf819;
          animation: boasy 3s 1.9s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
          transition: 0.5s all cubic-bezier(0.2, 0.8, 0.2, 1);
          
          &:hover{
            border: 10px solid #6fdeb0;
          }
  
        }
  
        .contact{
          padding: 50px;
          background-color: #751414;
          border: 10px solid #e7ff0f;
        
          opacity: 0;
          color: #4890ff;
          animation: boasy 3s 2.3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);

          transition: 0.5s all cubic-bezier(0.2, 0.8, 0.2, 1);
          
          h2{
            color: #6df8b3;
          }

          &:hover{
            border: 10px solid #6fdeb0;
          }
        }
      }


      .card{
        .arrow {
          transition: 0.3s all cubic-bezier(1, -0.22, 0.49, 1.49);
        } 

        &:hover{
          .arrow{
            margin-left: 10px;
          }
        }
      }
    }

    .background-overlay{
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: -9999;
      top: 0;
      left: 0;
      display: grid;
      margin: 0px;
      overflow: hidden;
      grid-gap: 0;
      opacity: 1;

      span{
        border: 2px solid #ff00e0;
        box-shadow: 0px 3px 35px rgb(37, 4, 223); 
        height: 100%;
        opacity: 0;
        width: 300px;
        height: 300px;
      }
    }
    
    .square-anim span{
      animation: chanel 2s 0s forwards cubic-bezier(0.2, 0.8, 0.2, 1), ultravio 2s 0s forwards cubic-bezier(0.2, 0.8, 0.2, 1), sweetsweet 3s 0.1s forwards cubic-bezier(1, -0.22, 0.65, 0.73);
    }

    .sn-anim span{
      transform: rotate(45deg);
      opacity: 1;
      margin-left: 0px;
    }

    .anim{
      animation: wasted 5s 1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
    }

    .four{
      opacity: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 5em;
      box-shadow: 0px 3px 200px #ff00e0;
      z-index: 99999;
      background-color: #fff;
      padding: 50px 80px;
      color: #ff00e0;
      animation: ricky 3s 1.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);

      a{
        display: block;
        font-size: 25px;
        text-align: center;
        text-decoration: none;
        margin-top: 50px;
        color: #218ff1;

        .arrow {
          transition: 0.3s all cubic-bezier(1, -0.22, 0.49, 1.49);
        } 

        &:hover{
          .arrow{
            margin-left: 10px;
          }
        }
      }

    }

    .projects{

      a{
        color: #b5f9bb;
        text-decoration: none;
        position: relative;
        display: block;
      }
      
      article{
        width: 100%;
        height: calc(100vh - 200px);
        position: relative;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 20px;
        
        .meta{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          opacity: 0;
          animation: stronger 3s 1.5s forwards cubic-bezier(0.215, 0.610, 0.355, 1);
        }

        h1{
          font-size: 5em;
          margin: 0px;
          color: #fff;
          padding: 20px 50px;

        }
        
        img{
          width: calc(100% - 220px);
          margin-left: 200px;
          max-width: 1300px;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          opacity: 0;
          animation: bounceback 3s 1.5s forwards cubic-bezier(0.2, 0.8, 0.2, 1), hope 3s 1.9s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
        }

        .inner{
          width: 100%;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        .links-alt{
          display: none;
        }

        .links{
          display: block;
        }

        .links, .links-alt{
          width: 100%;
          position: relative;
          
          
          .detail{
            padding: 10px 20px;
            background-color: #a60295;
            border: 5px solid #ff856a;
            opacity: 0;
            margin-bottom: 100px;
            color: #ddf819;
            animation: spacecadet 3s 1.9s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
            transition: 0.5s all cubic-bezier(0.2, 0.8, 0.2, 1);
            display: block;
            overflow: hidden;

            &:hover{
              border: 5px solid #6fdeb0;
            }
    
          }
    
          .project{
            padding: 10px 20px;
            background-color: #751414;
            border: 5px solid #e7ff0f;
            display: block;
            overflow: hidden;
            opacity: 0;
            color: #4890ff;
            animation: spacecadet 3s 2.3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  
            transition: 0.5s all cubic-bezier(0.2, 0.8, 0.2, 1);
            
            h2{
              color: #fff;
            }

            &:hover{
              border: 5px solid #6fdeb0;
            }
          }
        }
      }
    }

    .single-project{
      display: block;
      overflow: hidden;
      max-width: 1800px;
      margin: 0 auto;
      opacity: 0;
      animation: stargazing 3s 2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);

      img{
        width: 100%;
      }

      .meta{
        margin-top: 20px;

        h1{
          font-size: 3em;
          margin: 0px;
          color: #e7ff0e;
        }

        p{
          font-size: 2em;
          margin: 0px;
          padding-top: 20px;
          color: #b4f8ba;

          a{
            color: #b4f8ba;
          }
        }
      }

      .article-content{
        font-size: 25px;
        line-height: 34px;
        font-family: "Inconsolata", monospace;
        font-weight: 400;
        margin: 20px 0;
      }
    }

    .page-services{
      ul{
        list-style: none;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0px;
        padding: 0px;
        animation: stargazing 3s 1.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
        opacity: 0;

        li{
          padding: 50px;
          background-color: rgba(0, 0, 0, 0.7);
          border: 1px solid #000;
          transition: box-shadow .15s ease-out, transform .35s ease-out, opacity .2s ease-out;
          animation: sunday 4s 1.3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);

          h2{
            margin-top: 0px;
            font-size: 1.8em;
          }

          p{
            font-family: "Inconsolata", monospace;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
          }
        }

      
      }
    }

    .page-about{
      display: block; 
      position: relative;
      max-width: 60vw;

      .gr{
        animation: stargazing 3s .3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
        background: linear-gradient(to right, #ffa290 0%, #aaa8b5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      h1{
        line-height: 35px;
        
        font-size: 30px;
        opacity: 0;
        animation: stargazing 3s .3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);

        span{
          float: left;
        animation: stargazing 3s .3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);

        }
      }

      ul li{
        font-size: 25px;
        list-style: square;
        margin-bottom: 30px;
        opacity: 0;
        animation: stargazing 3s .6s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
      }
    }

    .contact{
      display: grid;
      grid-auto-flow: column;
      grid-gap: 100px;

      .meta{
        max-width: 60vw;
        
        p{
          margin: 0 auto;
          display: block;
          line-height: 35px;
          animation: stargazing 3s .3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
          background: linear-gradient(to right, #ffa290 0%, #aaa8b5 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 25px;
          opacity: 0;
          font-family: "Inconsolata", monospace;
          font-weight: 400;
        }


        a{
          display: block;
          font-size: 25px;
          text-decoration: none;
          color: #b5f9bb;
          opacity: 0;
          padding-bottom: 15px;
          animation: stargazing 3s .6s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
          transition: 0.3s all ease-in-out;
          margin-top: 25px;

          &:hover{
            transform: translateY(-20px);
          }
        }


        .twttr{
          color: #19e0f6;
          opacity: 0;
          animation: perfecto 3s .8s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
        }

        .gthb{
          color: #c1aa32;
          opacity: 0;
          animation: perfecto 3s .9s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
        }
      }

    }

   
  }
}


@import "./_animations.scss";
@import "./_fluid.scss";


