
* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility;
  padding: 0px;
  overflow-x: hidden;
  color: #fff;
  margin: 0px;
  background: linear-gradient( to bottom, rgb(212, 2, 125) 33%, rgb(37, 4, 223) 67% );
  overflow: hidden;
  animation: nc17 5s 0s forwards cubic-bezier(0.2, 0.8, 0.2, 1);

  body {
    margin: 0px;
    height: 100vh;
    padding: 5px;
  
    .content{
      background-color: #000;
      display: block;
      width: 100%;
      height: 100%;
      padding: 50px 0;
    }

    .wrapper{
      z-index: 99999;
      position: relative;
    }

    header{
      display: grid;
      grid-template-columns: max-content 1fr;
      padding-left: 100px;

      h1 {
        font-style: italic;
        font-size: 6em;
        background: linear-gradient(
          to right,
          rgb(212, 2, 125) 0%,
          rgb(37, 4, 223) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0px;
        opacity: 0;
        animation: stargazing 3s 1.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
        
        a {
          transition: 0.1s all ease-in-out;
        }
      }

      div{
        position: relative;
        margin-left: 15px;
        

        span{
          opacity: 0;
          position: absolute;
          bottom: 25px;
          width: 0%;
          height: 5px;
          background-color: #9d039c;
          border-radius: 50px 0 0 0;
          right: 0;
          animation: pickupthephonebaby 2s 1.4s forwards cubic-bezier(0.2, 0.8, 0.2, 1) ;
        }

        .alt{
          bottom: 45px;
          background-color: #5d03be;
        }
      }
      
    }

    .ratchet{
      display: grid;
      overflow: hidden;
      padding: 100px;
      grid-template-columns: 2fr 1fr 1fr;
      grid-gap: 80px;

      h1, h2{
        margin: 0px;
      }
      
      .hey-how-are-you{
        padding: 50px;
        background-color: hsl(216, 100%, 64%);
        border: 10px solid #def919;
        opacity: 0;
        animation: trekked 3s 1.5s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
        max-height: 330px;

        h1{
          padding-bottom: 20px;
          font-size: 3em;
          font-style: italic;
          color: #e7ff0e;
        }

        h2{
          font-size: 2em;
        }
      }

      .nice-smort{
        margin-top: 150px;

        a{
          text-decoration: none;
          color: #fff;
        }
      }

      .i-am-good{
        padding: 50px;
        background-color: #14bbab;
        border: 10px solid #ddf819;
        opacity: 0;
        margin-bottom: 100px;
        animation: boasy 3s 1.9s forwards cubic-bezier(0.2, 0.8, 0.2, 1);

      }

      .how-about-you{
        padding: 50px;
        background-color: #751414;
        border: 10px solid hsl(66, 100%, 53%);
        
        opacity: 0;
        animation: darkvader 3s 2.3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
      }
    }

    .background-overlay{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: grid;
      margin: 10px;
      grid-gap: 0;
      opacity: 1;
      grid-template-columns: repeat(10, 1fr);
      animation: wasted 5s 0.3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);

      span{
        border: 2px solid #00c4ff;
        box-shadow: 0px 0px 20px 4px #c50283;
        height: 100%;
        margin-left: -300px;
        opacity: 0;

        animation: chanel 2s 0s forwards cubic-bezier(0.2, 0.8, 0.2, 1), sweetsweet 3s 0.1s infinite cubic-bezier(1, -0.22, 0.49, 1.49);
      }
    }
  }
}


@keyframes stargazing {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}


@keyframes sickomode {
  0% {
    right: -20px;
    bottom: -80px;
  }
  
  100%{
    right: 20px;
    bottom: -30px;
  }
}

@keyframes fallen {
  0% {
    right: -20px;
    top: -20px;
  }
  
  100%{
    right: 20px;
    top: 0;
  }
}

@keyframes boomtown {
  0% {
    left: -40;
    bottom: -80px;
  }
  
  100% {
    left: 0px;
    bottom: -50px; 
  }
}

@keyframes nc17{
  0% {
    background-position: 0 0%;
    background-size: 400% 400%;
  }
  
  100% {
    background-position: 0 55%;
    background-size: 400% 400%;
  }
}

@keyframes pickupthephonebaby{
  0% {
    width: 0%;
    opacity: 0;
  }
  
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes sweetsweet{
  0% {
    transform: rotate(45deg);
  }
  
  50% {
    transform: rotate(130deg);
  }
  
  
  100% {
    transform: rotate(45deg);
  }
}

@keyframes chanel{
  0% {
    opacity: 0;
    margin-left: -300px;
  }
  
  50% {
    margin-left: 150px;
  }
  
  100%{
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes trekked {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
    box-shadow: 25px 21px 0px 0px #14bcac;
  }
}

@keyframes boasy {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
    box-shadow: 25px 21px 0px 0px #4790fe
  }
}

@keyframes darkvader {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
    box-shadow: 25px 21px 0px 0px  #7755cc;
  }
}

@keyframes wasted {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}