
* {
  box-sizing: border-box;
}

html {
  font-family: "PT Mono", monospace;
  text-rendering: optimizeLegibility;
  padding: 0px;
  overflow-x: hidden;
  color: #fff;
  margin: 0px;
  background: linear-gradient( to bottom, rgb(212, 2, 125) 33%, rgb(37, 4, 223) 67% );

  body {
    margin: 0px;
    height: 100vh;
    padding: 5px;
    
    .content {
      background-color: #000;
      display: block;
      width: 100%;
      height: 100%;

      .wrapper{
        max-width: 1600px;
        margin: 0 auto;
        overflow: hidden;
        height: 99vh;
      }

      .header { 
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-90%);
        transform: translateY(-90%);
        width: 100%;
        display: flex;

        .art{
          margin-left: 150px;
        }

        h1 {
          font-size: 6em;
          background: linear-gradient(
            to right,
            rgb(212, 2, 125) 0%,
            rgb(37, 4, 223) 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          margin-bottom: 10px;
          margin-top: 0px;

          a {
            transition: 0.1s all ease-in-out;


          }
        }

        p {
          font-size: 2em;
          color: #fff;
          opacity: 0.85;
        }

        .sub {
          font-size: 1.8em;
          background: linear-gradient(to left, #4e35d6 0%, #d4027d 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          max-width: 800px;
          opacity: 1;
        }
      }

      .footer {
        bottom: 20px;
        position: absolute;
        display: flex;
        justify-content: start;

        .container{
          display: grid;
          grid-gap: 10px;
          grid-auto-flow: column;
          width: 100%;
        }

        a {
          text-decoration: none;
        }

        .card {
          overflow: visible;
          overflow: visible;
          color: #fff;
          padding: 20px;
          margin-right: 20px;
          min-width: 500px;
          min-height: 430px;
          position: relative;

          h1{
            font-family: 'Montserrat', sans-serif;
            font-size: 50px;
            position: absolute;
            text-transform: lowercase;
            top: -75px;
            text-shadow: 2px 3px 0px #9c0270;
          }

          svg{
            margin: 0px auto;
            display: block;
            position: absolute;
            max-width: 500px;
          }
        }

        .work {
          background: linear-gradient(0deg, rgba(185, 21, 86, 1.00), hsl(0, 0%, 0%));
          box-shadow: 0px 0px 3px 0px rgba(185, 21, 86, 1.00);
          
          svg{
            bottom: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
          }
        }

        .services{
          background: linear-gradient(0deg, #22dcef, rgba(0,0,0,0));
          box-shadow: 0px 0px 3px 0px #22dcef;
          transition: 0.2s all ease-in-out;

          svg{
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }

          &:hover{
            box-shadow: 0px 0px 10px 0px #22dcef;
           
          }
        }

        .contact{
          background: linear-gradient(0deg, #8f64d4, hsl(0, 0%, 0%));
          box-shadow: 0px 0px 3px 0px #8f64d4;

          svg{
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }
      }

    }
  }
}

